<div class="form-group">
    <label for="name">Navn</label>
    <input type="text" class="form-control" ng-model="widget.name">
</div>

<div class="form-group" ng-if="widget.id==='adressesøgning'">
    <label for="options">Options</label>
    <input type="text" class="form-control" ng-model="widget.options" placeholder="f.eks. kommunekode=0330">
</div>
<div class="form-group" ng-if="widget.id==='adressesøgning'">
    <label for="placeholder">Placeholder</label>
    <input type="text" class="form-control" ng-model="widget.placeholder">
</div>
<div class="form-group" ng-if="widget.id==='tracking' || widget.id==='opgaver'">
    <label for="lag">Lag</label>
    <select class="form-control" id="lag" ng-model="widget.layer" ng-options="r.id as r.name for r in configuration.map.overlays|filter:{type:'database'}">
        <option value="" selected>-- Vælg --</option>
    </select>
</div>
<div class="form-group" ng-if="widget.id==='tracking'">
    <label for="lag">Interval (milliseconds)</label>
    <input type="number" class="form-control" ng-model="widget.interval">
</div>
<div class="form-group" ng-if="widget.id==='mitkort'">
    <label for="logo">Logo url</label>
    <input type="text" class="form-control" ng-model="widget.logo">
</div>
<div class="form-group" ng-if="widget.id==='mitkort'">
    <label for="color">Farve</label>
    <input type="color" class="form-control" ng-model="widget.color">
</div>
<div class="form-group" ng-if="widget.id==='mitkort'">
    <label for="opacity">Transparens</label>
    <input type="number" ng-model="widget.opacity" class="form-control">
</div>
<div class="form-group" ng-if="widget.id==='indberetninger'">
    <label for="beskrivelse">Beskrivelse</label>
    <textarea ng-model="widget.description" class="form-control" id="instruction" placeholder="Beskrivelse" ng-change="$emit('validate')"></textarea>
</div>

<div class="form-group" ng-if="widget.id==='indberetninger'">
    <label for="schema">Lag</label>
    <select class="form-control" id="lag" ng-model="$parent.layer" ng-options="key as value.name for (key,value) in layers" ng-change="addLayer()">
        <option value="" selected>-- Vælg --</option>
    </select>
</div>

<ul class="list-group" ui-sortable ng-model="widget.layers" ng-if="widget.id==='indberetninger'">
    <li class="list-group-item" ng-repeat="layer in widget.layers"><a style="color:inherit" class="pull-right" ng-click="removeLayer()"><i class="fa fa-close"></i></a>{{index[layer].name}}</li>
</ul>

<div class="form-group" ng-if="widget.id==='indberetninger'">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="widget.start">Start ved opstart
        </label>
    </div>
</div>
<div class="form-group" ng-if="widget.id==='indberetninger'">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="widget.visible">Vis widget i sidemenu
        </label>
    </div>
</div>
<div class="form-group" ng-if="widget.id==='indberetninger'">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="widget.showReceipt">Vis kvittering
        </label>
    </div>
</div>
<div class="form-group" ng-if="widget.id==='indberetninger'">
    <label for="receipt">Kvittering (HTML)</label>
    <textarea class="form-control" ng-model="widget.receipt"></textarea>
</div>

<div class="form-group" ng-if="widget.id==='position'">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="widget.start">Find position ved opstart
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="widget.show">Vis icon
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="widget.smallIcon">Lille icon
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="widget.accuracy">Vis nøjagtighed
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="widget.pulsing">Pulserende
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="widget.enableHighAccuracy">Enable high accuracy
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="widget.watch">Watch position ved opstart
        </label>
    </div>
</div>